<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>
      CSCI5117 Session03 Website - Husky Fan Club! My super cool amazing
      website, ultra deluxe edition
    </title>
    <link rel="stylesheet" href="/static/style.css" />

    <script src="static/main.js"></script>
  </head>

  <h1>Welcome to Husky Fan Club Fan</h1>
  <form action="/user" method="get">
    <label>Username:</label>
    <input type="text" name="username" />
    <br />
    <input type="submit" value="Submit" />
  </form>
</html>
